
.dropdown {
    display: block;
    position: absolute;
    background-color: var(--azulM4);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--white);
    right: 50px; /* Posición ajustada */
    bottom: 70px; /* Posición ajustada */
    z-index: 999;
    cursor: pointer;

  }
  
  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li {
    padding: 5px;
    color: var(--white); /* Color del texto en el dropdown */
  }
  

  .cart-icon:hover .dropdown{
    display: block;
  }