:root {
    --main-bg-color: #f1f1f1;
    --azulM4: #003da6ff;
    --red: #ff0000;
    --green: #0ecf45;
    --black: #191c1a;
    --white: #fff;
    --purple: #646cff;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: var(--black);
    z-index: 9999 !important;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    width: 100%;
}

.logoNavbar {
    max-width: 100px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.menuMobile {
  display: none;
}

  li a {
  display: block;
  align-items: center;
  width: 100%;
  color: var(--white);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--azulM4);
  color:var(--white) ;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .navbar {
    display: flex; /* Cambiamos a flexbox para hacerlo horizontal */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--black);
    height: 150px;
  }

  .navbar .logoNavbar {
    align-items: center;
  }
  
  .navbar .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambiamos a flexbox para hacerlo horizontal */
  }
  
  .menuMobile {
    display: none;
  }
  
}

@media screen and (max-width: 350px) {
  .navbar {
    display: flex; /* Cambiar a display flex para alinear verticalmente */
    flex-direction: column; /* Alinear los elementos uno arriba del otro */
    justify-content: center; /* Centrar verticalmente */
    align-items: center;
    width: 100%;
  }

  .navbar .logoNavbar {
    width: 100%;
    max-width: 50px;
  }

  .navbar .menu{
    display: none;
  }
  
  .menuMobile {
    /* Ajustar según sea necesario */
    display: block;
    width: 100%;
    max-width: 50px;
    background-color: var(--azulM4);
    color: var(--white);
    cursor: pointer;
    text-align: center; /* Centrar el texto horizontalmente */
  }

  .menuMobile  .material-symbols-outlined {
    align-items: center;
  }
}